body {
  background-color: black;
  color: aliceblue;
}

#locationBox {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding-left: 10vw;
  padding-right: 10vw;
}

form {
  display: flex;
  justify-content: center;
}
